.content {
  display: flex;
  flex-direction: row;
  padding: 1% 10%;
  align-items: center;
}

.indexImg {
  width: 90%;
}

@media screen and (max-width: 800px) {
  .nav > ul {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
    padding: 100px 40px;
  }
}
