.login {
  margin-top: 5%;
}

.sgoogle {
  border: none;
  border-radius: 9px;
  padding: 10px 20px;
  background-color: #4285f4;
  color: white;
  font-size: large;
}
.sgoogle:hover {
  cursor: pointer;
  background-color: #1d61ce;
}
.adminNav {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.head {
  padding: 20px;
}

.content {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.content img {
  max-width: 80%;
}

.head2 {
  margin-left: 10%;
}

.shopename {
  width: 70%;
  font-size: 32;
  line-height: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

.nameTile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  font-size: 20;
  justify-content: space-between;
  width: 50%;
  background-color: #7480ff75;
  margin: 10px;
  border-radius: 8px;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .nav > ul {
    flex-direction: column;
  }
  .content {
    flex-direction: column;
    padding: 100px 40px;
  }
}
